body{
    background-color:#d6d0b8;
}
header{
    display: flexbox;
    background-image: url('media/banner.png');
    background-color: #aaa6a4;
    font-size: 45px;
    margin: 0;
}
a{
    text-decoration:none;
}

table{
    margin-left: auto;
    margin-right: auto;
}

th{
    color: #d6d0b8;
    padding:3px;
    border-radius: 3px;
    background-color: rgb(133, 108, 114, .6);
    font-size: 24px;

}

tr{
    color: #d6d0b8;
    padding:3px;
    border-radius: 3px;
    background-color: rgb(133, 108, 114, .6);
    font-size: 24px;

}
#logo{
    height: 78px;
    width:auto; 
    float:left;
    margin: 20px;
}
#opening{
    font-size: 32px;
    color: #f1f4c6;
    padding:3px;
    border-radius: 3px;
    background-color: rgb(133, 108, 114, .8);
    background-image: url('media/banner.png');
}

#Assessment_input{
    background-image: url('media/banner.png');
    margin:5px;
    padding:10px
}

button {
    padding: 0;
    border: none;
    background: none;
}

img.darker {
    transition: all 0.2s ease-in-out;
  }
  
img.darker:hover {
    filter: brightness(90%);
}

#buttonimgs{
    height:78px;
    width:auto;
    margin-bottom: -20px;
}

#calculateimg{
    height:148px;
    background-image: url('media/banner.png');
    width:auto;
    margin-top: 25px;
    margin-bottom: -20px;
    margin-left: 5px;
}

#resultgrade, #gradelost{
    text-indent: 25px;
    background-image: url('media/results.png');
    background-size:255px;
    background-repeat: no-repeat;
    margin-left: 10px;
    padding-top:62px;
    padding-bottom: 62px;
    padding-right:75px;
    color:rgb(133, 108, 114);
    text-shadow: -1px -1px 0 #f1f4c6, 1px -1px 0 #f1f4c6, -1px 1px 0 #f1f4c6, 1px 1px 0 #f1f4c6;
}

footer{
    display:flex;
}

input{
    font-size: 24px;
    text-align: center;
    background-color:#d6d0b8
}