body{
    background-color:#d6d0b8;
}

header{
    display: flexbox;
    background-image: url('media/banner.png');
    background-color: #aaa6a4;
    font-size: 200%;
    padding-bottom: 0.1%;
}

a{
    text-decoration:none;
}

table{
    margin-left: auto;
    margin-right: auto;
    width:50%;

}

th{
    color: #d6d0b8;
    padding:3px;
    border-radius: 3px;
    background-color: rgb(133, 108, 114, .6);
    font-size: 24px;
    width: 10%;
    justify-content: center;
    justify-items: center;
    text-align: center;

}

tr{
    color: #d6d0b8;
    padding:3px;
    border-radius: 3px;
    background-color: rgb(133, 108, 114, .6);
    font-size: 150%;
    width:10%;
    justify-content: center;
    justify-items: center;
    text-align: center;

}
#logo{
    max-height: 10%;
    max-width: 10%;;
    float:left;
    margin-top: 1.5%;
    margin-left: 1.5%;
    margin-right: 1.5%;



}

#title{
    margin-top: 0;
    padding-top: 1.5%;
}

#opening{
    font-size: 190%;
    color: #f1f4c6;
    padding:0.3%;
    border-radius: 15%;
    background-color: rgb(133, 108, 114, .8);
    background-image: url('media/banner.png');
}

#Assessment_input{
    background-image: url('media/banner.png');
    margin:0.5%;
    padding:0.5%
}

button {
    border: none;
    background: none;
}

img.darker {
    transition: all 0.2s ease-in-out;
  }
  
img.darker:hover {
    filter: brightness(90%);
}

#buttonimgs{
    padding-top: 15%;
    width:100px;
    height:auto;
}

#calculateimg{
    display: left;
    background-image: url('media/banner.png');
    width:28.2%;
    margin-top: 2.5%;
}

#resultgrade, #gradelost{
    text-align: center;
    background-image: url('media/results.png');
    background-size:110%;
    margin:2%;
    padding-left: 10%;
    padding-bottom: 50%;
    padding-top: 20%;
    background-repeat: no-repeat;
    font-size: 120%;
    color:rgb(133, 108, 114);
    text-shadow: -1px -1px 0 #f1f4c6, 1px -1px 0 #f1f4c6, -1px 1px 0 #f1f4c6, 1px 1px 0 #f1f4c6;
}

footer{
    display:flex;
}

input{
    font-size: 120%;
    text-align: center;
    background-color:#d6d0b8;
    width:45%;
}

